<!--Scenario1-->
<div style="text-align: center">
  <h1>Scenario1</h1>
  <app-component1></app-component1>
</div>

<!-- Scenario2-->
<div style="text-align: center">
  <h1>Scenario2</h1>
  <app-component2></app-component2>
</div>

<!-- Scenario3-->
<div style="text-align: center">
  <h1>Scenario3</h1>
  <app-parentcomp></app-parentcomp>
</div>

<!-- Scenario4-->
<div style="text-align: center">
  <h1>Scenario4</h1>
  <app-parntcomp></app-parntcomp>
</div>

<!-- Scenario5-->
<div style="text-align: center">
  <h1>Scenario5</h1>
  <app-comp1></app-comp1>
</div>

<!-- Scenario6-->
<div style="text-align: center">
  <h1>Scenario6</h1>
  <app-parent></app-parent>
</div>